body 
{
    font-family: Arial;
    background: white;
    margin: 0;
    padding: 10px;
    background-color: white;
}

.heading 
{
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
}

.box1 
{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 27px;
}

.card
{
    background:#f2f2f2;
    width: 250px;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid rgb(27, 10, 78);   
}

.card button {
    margin-top: 10px;
    padding: 8px 30px;
    background: rgb(9, 45, 74);
    color: white;
    border: none;
    border-radius: 4px;
}
.card:hover{
    background-color: rgb(197, 230, 244);
    transform: translateY(-5px);
    box-shadow: 0 5px 25px black;
   
    
}
button:hover
{
    background-color: rgb(53, 18, 75);
    color: wheat;
    cursor: pointer;
}

.sub-heading 
{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
}

.table-container {
        overflow-x: auto;
    }

    table {
        width: 100%;
        min-width: 600px;
       padding: 0px 50px;

        
    }

    thead tr {
        background-color: #63a0d9;
        color: white;
    }

    th, td {
        padding: 7px;
        text-align: left;
        border-bottom: 1px solid #ccc;
    }

    tbody tr:nth-child(even) {
        background: #f2f2f2;
    }

    tbody tr:hover {
        background: #d9e6ff;
    }

img
{
    height: 100px; 
    width: 200px;
}